.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin: 15px 15px 0;
}

h1, h2 {
  text-align: center;
}

.button__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container {
  margin-top: 15px;
}

.wrapper__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 100px 0 25px;
}

.wrapper__counters {
  display: flex;
  flex-wrap: wrap;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.wrapper__info {
  border: 1px solid black;
  margin: 20px auto 0;
  height: 140px;
  width: 300px;

}